<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe facilis commodi ducimus blanditiis placeat iusto
    eos voluptatibus necessitatibus cumque, aperiam laboriosam. Sit libero voluptas incidunt, recusandae tempora
    voluptate earum omnis!</p>
</body>

</html>